@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
$backgroundColor: #fff;

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: $backgroundColor;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Marcellus";
}
